[2015-12-01 22:19] billymeinke opened #1 "Images in posts do not work without uggifying link"
Images only appear when I add a bunch of "look one folder beneath" formatting, ie "../../../../".

![screen shot 2015-12-01 at 12 18 50 pm](https://cloud.githubusercontent.com/assets/3204193/11516164/d24f1dda-9825-11e5-9f22-22d5395a9347.png)

[2015-12-01 23:10] figureone commented on #1
http://stackoverflow.com/questions/25295418/jekyll-declare-image-path-in-front-matter-as-variable-using-site-url

[2015-12-14 21:07] billymeinke commented on #1
Thanks @figureone!

[2015-12-14 21:07] #1 closed, assigned to nobody

[2015-12-14 21:08] billymeinke opened #2 "Need contact form embedded in contact page"

[2015-12-15 22:29] enriquezm commented on #2
Contact form has been uploaded to live server: https://flow.coe.hawaii.edu/flow/contact.html

[2015-12-15 22:29] #2 closed, assigned to nobody

[2015-12-17 19:39] billymeinke opened #3 "Add Gitbook documentation link to README file"
We should link to the documentation, or somehow display it on a page.

[2016-01-13 19:11] billymeinke opened #4 "Allow users to view all posts with the same tag"
I want to be able to click on an article tag and see all other posts that share that same tag.

<img width="683" alt="screen shot 2016-01-13 at 9 10 23 am" src="https://cloud.githubusercontent.com/assets/3204193/12304814/99c75532-b9d5-11e5-83a6-f8a249c6ffb8.png">

[2016-01-13 19:13] billymeinke opened #5 "Make it easier to know that you're viewing search results"
Add indicator atop search results

[2016-01-13 19:19] billymeinke opened #6 "Move search bar to top menu nav, upper right"
This way, search will appear on all pages of FLOW, and we don't have to deal with awkward sidebar content getting in the way of article content

[2016-01-13 19:22] billymeinke opened #7 "Make printing articles make sense"
Reduce size of font to 14pt, make article images/screenshots full-width (since they will not be opening in a modal).

[2016-01-13 19:25] billymeinke opened #8 "Allow images/screenshots to open in a modal"
Need a larger view of images so that detail (where to click, etc) can be shown more clearly.

[2016-01-13 19:27] billymeinke opened #9 "Fix links in footer"
Leave only the ones we want, remove others

[2016-01-13 19:31] billymeinke opened #10 "Reduce font of footer links to avoid line breaks"
Footer list item links should sit on one line, not be subjected to line breaks. Maybe reduce font face to avoid this.

<img width="763" alt="screen shot 2016-01-13 at 9 31 41 am" src="https://cloud.githubusercontent.com/assets/3204193/12305362/7c24acca-b9d8-11e5-9f57-0b5ccf8bedb3.png">

[2016-01-13 19:32] billymeinke commented on #10
ie "Center for Teaching Excellence" should sit on one line, not be broken into two lines

[2016-01-13 19:35] billymeinke opened #11 "Set up "Subscribe via email" for new articles"
Make it easy for COE faculty to sign up to be alerted via email when new articles are posted. Can use a third-party tool (ie Mailchimp) or link to other COE/DCDC mailing list.

[2016-01-13 19:47] billymeinke opened #12 "Change site URL to flow.coe.hawaii.edu"
Currently lives at https://flow.coe.hawaii.edu/flow/

[2016-01-13 19:48] billymeinke commented on #12
Also get rid of the old WP site

[2016-01-13 19:50] billymeinke opened #13 "Add COE/UH logos to footer"

[2016-01-14 00:51] enriquezm commented on #3
Added gitbook documentation link to README.md: https://github.com/uhm-coe/flow#flow

[2016-01-14 23:31] enriquezm commented on #13
Added linked logos to bottom of footer.

[2016-01-15 01:26] enriquezm commented on #6
Search input field moved up to navbar. Still needs styling and formatting.

[2016-01-15 01:27] enriquezm commented on #12
Working on getting this done with Paul now.

[2016-01-15 02:32] enriquezm commented on #12
alright Paul was able to give the site its final home: https://flow.coe.hawaii.edu/

[2016-01-20 01:15] enriquezm commented on #4
You are now able to click on an article tag and see all other posts that share that same tag.

[2016-01-20 19:43] enriquezm opened #14 "Clean out tags and make sure they have the correct spelling"
Tag A spelled as 'Assessment'
![Tag with 'Assessment'](https://cloud.githubusercontent.com/assets/12424864/12460867/0c7793b0-bf5a-11e5-8b4f-537826f6d350.png)

Tag B spelled as 'Assessments' (plural)
![Tag with 'Assessments'](https://cloud.githubusercontent.com/assets/12424864/12460868/0c922946-bf5a-11e5-9c58-b2f6fc217f3c.png)

[2016-01-20 19:45] enriquezm opened #15 "Clean and remove redundant tutorial posts."
Mostly left over from running tests on the site, but need to clean out any duplicates.

![screen shot 2016-01-20 at 9 45 12 am](https://cloud.githubusercontent.com/assets/12424864/12460965/84d11336-bf5a-11e5-8941-deb6b242ca19.png)

[2016-01-20 19:46] enriquezm commented on #4
Alright @billymeinke you can now click on an article tag and see all other posts that share the same tag on the live site: https://flow.coe.hawaii.edu/

[2016-01-20 21:12] billymeinke commented on #4
Looks good, thanks Myles.

On Wed, Jan 20, 2016 at 9:46 AM, Myles Enriquez notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-01-20 21:14] #4 closed, assigned to nobody

[2016-01-21 20:46] enriquezm commented on #8
Modals have been added for each image in a tutorial post.

[2016-01-21 20:46] enriquezm commented on #8
@billymeinke also live serve has been updated with recent changes

[2016-01-22 01:04] enriquezm opened #16 "Add commenting capabilities for each post (disqus)"

[2016-01-22 01:11] enriquezm commented on #16
@billymeinke did we still want to add commenting? If we do, what disqus account should we use?

[2016-01-22 01:47] billymeinke commented on #16
I think we can get away without including comments for now. Can be
introduced later as long as it doesn't break the post layout, ya?

On Thu, Jan 21, 2016 at 3:11 PM, Myles Enriquez notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-01-22 19:21] enriquezm commented on #16
@billymeinke alright, I have it working in a branch (disqus branch) so whenever we're ready for them I'll just merge it with master.

[2016-01-22 19:26] enriquezm opened #17 "Be able to filter posts by category in sidebar"
Small bug that needs to be fixed, nothing major.

[2016-01-22 19:26] enriquezm commented on #17
![screen shot 2016-01-22 at 9 26 15 am](https://cloud.githubusercontent.com/assets/12424864/12520702/3451ad62-c0ea-11e5-969c-508dd22635a0.png)

Afterclicking **how-to_** in side bar, shows empty list

[2016-01-22 21:12] billymeinke commented on #3
@enriquezm Looks like a good start on the documentation. Can @fjumawan lend a hand completing the other few how-to pages? https://www.gitbook.com/book/enriquezm/flow-support-site-documentation/details

[2016-01-22 21:22] billymeinke commented on #5
Looks good, may need some spacing above the results print out during the final glossing.

[2016-01-22 21:22] #5 closed, assigned to enriquezm

[2016-01-22 21:25] #10 closed, assigned to nobody

[2016-01-22 21:30] billymeinke commented on #12
Thanks @enriquezm @figureone !

[2016-01-22 21:30] #12 closed, assigned to nobody

[2016-01-22 21:31] billymeinke commented on #13
Looks good, may need a resize and alignment adjustment during final glossing.

[2016-01-22 21:31] #13 closed, assigned to nobody

[2016-01-22 21:31] billymeinke commented on #6
Nice, yep agree it needs some styling. It works, closing the issue.

[2016-01-22 21:31] #6 closed, assigned to enriquezm

[2016-01-22 21:32] billymeinke commented on #14
@fjumawan Could you take a look at this? May need to scan existing posts to correct misspelled tags.

[2016-01-22 21:39] billymeinke commented on #9
@enriquezm I fixed this here, but maybe you can double check it works? https://github.com/uhm-coe/flow/commit/3645cbec964f0e716dcb62320fc88cd8c6e49acb

[2016-01-22 21:43] billymeinke commented on #7
Looking better. I'm wondering if we can make the images print larger, maybe sit above or below the instructional text.

[2016-01-22 21:44] billymeinke commented on #8
Awesome, thanks @enriquezm

[2016-01-22 21:44] #8 closed, assigned to enriquezm

[2016-01-22 22:27] enriquezm commented on #7
Alright didn't realize how easy it actually is to style 'printer' specific documents, but it's just a matter of creating a separate css file.

[2016-01-22 22:30] enriquezm commented on #9
@billymeinke pushed changes, and checked it. Works fine!

[2016-01-22 22:30] #9 closed, assigned to billymeinke

[2016-01-22 22:41] enriquezm commented on #3
Yeah of course! @fjumawan I sent you an invite to add you as a collaborator for the flow documentation on gitbook. @billymeinke @parkjc let me know if you guys want an invite as well.

[2016-01-22 22:53] ghost commented on #3
Thanks @enriquezm!

[2016-01-22 23:32] billymeinke commented on #3
Yes, please add me as a collaborator! Many thanks.

On Fri, Jan 22, 2016 at 12:53 PM, Frank Jumawan notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-01-23 00:16] enriquezm opened #18 "Fix overflowing image issues"
![screen shot 2016-01-22 at 2 15 58 pm](https://cloud.githubusercontent.com/assets/12424864/12526568/b9738c68-c112-11e5-806c-59f90d2634c8.png)

[2016-01-23 00:18] enriquezm commented on #3
@billymeinke alright added you as well

[2016-01-23 00:24] billymeinke commented on #17
@enriquezm Any idea what's breaking this?

[2016-01-23 00:26] enriquezm commented on #18
False alarm. Issue is fixed. Had to do with the way I added tabs instead of spaces when changing all tips in posts.

![screen shot 2016-01-22 at 2 24 13 pm](https://cloud.githubusercontent.com/assets/12424864/12526682/2625ec88-c114-11e5-855a-ae594f2c1a0f.png)

[2016-01-23 00:26] #18 closed, assigned to nobody

[2016-01-23 00:34] enriquezm commented on #17
@billymeinke I've been trying to figure it out, but because it's working on my local copy and not the live server, I'm stumped.

Could you try pulling and running it on your local machine when you get a chance? To see if it's just my machine or the live server that's not working?

I've also cleaned out all 'dummy posts' in our site so the category side bar will only list one category for now, sinc

[2016-01-23 00:34] billymeinke commented on #3
@enriquezm Can you add my billymeinke username? Or my Gmail account? Not using Gitbook on hawaii.edu

[2016-01-23 00:43] enriquezm commented on #3
@billymeinke Alright, you should be good to go.

[2016-01-27 01:43] enriquezm commented on #14
@fjumawan @billymeinke tags have been "cleaned" out.

[2016-01-27 01:43] enriquezm commented on #7
@billymeinke Articles are now printer friendly.

[2016-01-27 02:19] enriquezm commented on #17
Bug fixed. Not sure exactly what the fix was because I tried multiple things at once.

I did log into the live server and noticed that _site/how-to/index.html was not the same as the generated file on my local instance. So I manually built the file on the live server and that seemed to fix the issue. Almost like it needed a force rebuild.

[2016-01-27 02:28] enriquezm commented on #11
http://kb.mailchimp.com/lists/signup-forms/add-a-signup-form-to-your-website

[2016-01-27 19:14] enriquezm opened #19 "Need to display tags as a clickable element in search results"
![screen shot 2016-01-27 at 9 13 44 am](https://cloud.githubusercontent.com/assets/12424864/12625101/4b5103c4-c4d6-11e5-8045-258ce25a5954.png)
_tags are not clickable (displayed as plain text)_

[2016-01-27 23:58] enriquezm opened #20 "Fix search functionality from a tag list page."
When you search from the tag list page.

[2016-01-27 23:59] enriquezm commented on #20
Need to create a separate page that search redirects to. (ex should search through all posts, then show results on separate page)

[2016-02-03 19:59] #19 closed, assigned to nobody

[2016-02-03 20:15] #17 closed, assigned to nobody

[2016-02-03 20:15] #14 closed, assigned to nobody

[2016-02-03 20:16] #3 closed, assigned to enriquezm

[2016-02-03 20:18] billymeinke commented on #7
Looks much better. Thanks @enriquezm

[2016-02-03 20:18] #7 closed, assigned to enriquezm

[2016-02-03 20:20] billymeinke commented on #15
@fjumawan Would you be able to handle this? Be sure to delete the post _and_ the folder of images for the post. Let me or @enriquezm know if you need a hand!

[2016-02-03 20:43] billymeinke opened #22 "Integrate prose.io for creating new tutorials"
Would be nice to have, but not if it complicates things for IDs or other folks who will be adding tutorial posts.

[2016-02-05 01:30] enriquezm opened #23 "Tabs do not collapse on click, after being opened."
![screen shot 2016-02-04 at 3 29 01 pm](https://cloud.githubusercontent.com/assets/12424864/12835417/0cfc8114-cb54-11e5-8907-4049a6b46ecc.png)
Cannot close on category page: https://flow.coe.hawaii.edu/how-to/

[2016-02-10 20:16] billymeinke opened #24 "Clicking on category twice will produce search results"

[2016-02-10 20:19] billymeinke opened #25 "Find appropriate icon/symbol for "Assist""
Noun Project is good, other sources OK too

[2016-02-10 20:23] billymeinke opened #26 "Install hypothesis on pages to collect feedback on tutorials"

[2016-02-10 20:44] billymeinke opened #27 "Improve "Tip" font face to be more friendly"
Currently is plainly styled as "code", should be more friendly

[2016-02-10 20:46] billymeinke opened #28 "Fix strange spacing in ordered instruction lists"
![screenshot 2016-02-10 10 45 28](https://cloud.githubusercontent.com/assets/3204193/12961243/7e1a4064-cfe3-11e5-9a7b-63c4e5440373.png)

[2016-02-10 20:48] billymeinke opened #29 "Update colors for category types"
Currently are placeholder colors, should be more friendly, soft

[2016-02-10 20:52] billymeinke opened #30 "Update styles for make sure they work well on mobile"
Footer items stack in a strange way, search icon disappears.

[2016-02-11 21:28] enriquezm commented on #24
Issue resolved by @parkjc

https://flow.coe.hawaii.edu/tag/COE%20Website/

### Problem was:
- Clicking on a post's category link from a tag listing page was causing a "no search results" bug.

### How it was fixed:
- tag_index.html was still searching categories that had capital letters
- had to downcase the category portion in the tags file

[2016-02-11 22:37] enriquezm commented on #28
Issue resolved:

![screen shot 2016-02-11 at 12 35 54 pm](https://cloud.githubusercontent.com/assets/12424864/12993050/0f62b24e-d0bc-11e5-8b6c-debee4d327d6.png)

[example on live site](https://flow.coe.hawaii.edu/how-to/2016/02/01/set-up-grade-book-tool-in-laulima.html)

[2016-02-11 23:06] enriquezm commented on #23
Issue Resolved:

#### Problem:
- Tabs not collapsing on click only on category template (category.html)

#### Fixed by:
- Removing extra script added to category template (2 of the same scripts being called)

#### View Page:
- https://flow.coe.hawaii.edu/how-to/

[2016-02-11 23:13] billymeinke commented on #28
Awesome, thanks!

On Thu, Feb 11, 2016 at 12:37 PM, Myles Enriquez notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-02-12 00:28] #28 closed, assigned to enriquezm

[2016-02-12 23:46] #26 closed, assigned to parkjc

[2016-02-12 23:51] billymeinke commented on #27
Let's create a new CSS class without modifying the code class.

[2016-02-12 23:51] billymeinke commented on #22
Holding off on this until prose.io can handle images for posts better.

[2016-02-12 23:58] #22 closed, assigned to nobody

[2016-02-12 23:59] #20 closed, assigned to nobody

[2016-02-13 00:01] billymeinke commented on #16
Need to attach Disqus account to TDP gmail and use that widget instead of Myles'

[2016-02-13 00:02] billymeinke commented on #11
Low priority right now, closing this for the moment

[2016-02-13 00:02] #11 closed, assigned to enriquezm

[2016-02-13 00:02] #15 closed, assigned to nobody

[2016-02-13 00:03] #24 closed, assigned to nobody

[2016-02-13 00:04] billymeinke opened #31 "Transfer Google Analytics to TDP email"
Transfer ownership or install GA from TDP gmail account

[2016-02-13 00:13] billymeinke opened #32 "Move site to assist.coe.hawaii.edu"
from flow.coe.hawaii.edu

[2016-02-17 19:20] billymeinke commented on #32
@figureone did this happen to go through? Thanks!

[2016-02-17 19:27] #29 closed, assigned to enriquezm

[2016-02-17 19:29] billymeinke commented on #23
Thanks @enriquezm!

[2016-02-17 19:29] #23 closed, assigned to enriquezm

[2016-02-17 19:30] #30 closed, assigned to enriquezm

[2016-02-17 19:31] figureone commented on #32
it did, but the web server conf was overwritten, so @parkjc is working on reapplying.

[2016-02-17 19:33] billymeinke commented on #27
Bump

[2016-02-17 19:46] billymeinke commented on #16
@enriquezm I PMed you the Disqus code for the account, go ahead and merge your branch and include our widget

[2016-02-17 19:54] billymeinke commented on #32
Ah yes, thanks for the update. Let's also make sure the site is publicly viewable @parkjc

[2016-02-17 20:22] ghost commented on #31
Created a tracking id for tdpcoe@gmail.com to track and sent link for Myles to embed into site.

[2016-02-17 22:07] enriquezm commented on #31
@fjumawan google analytics is now set for tdpcoe@gmail.com on live site.

[2016-02-18 00:49] parkjc commented on #32
flow is now being redirected to assist and is publicly available.

[2016-02-18 01:06] billymeinke commented on #32
thanks @parkjc!

[2016-02-18 01:06] #32 closed, assigned to parkjc

[2016-02-18 01:09] billymeinke commented on #31
Awesome. Thanks @fjumawan + @enriquezm!

[2016-02-18 01:09] #31 closed, assigned to nobody

[2016-02-18 01:30] billymeinke commented on #16
And we have comments!

[2016-02-18 01:30] #16 closed, assigned to nobody

[2016-02-18 01:45] billymeinke opened #33 "Do not load Hypothesis in small/mobile screen sizes"
Do not load Hypothesis on screen sizes smaller than 768px. Currently this causes menus and buttons to overlap, not use friendly.

[2016-02-18 02:42] enriquezm commented on #33
Resolved. Any screen under 768px will **_not**_ run hypothes.is

[2016-02-18 03:10] enriquezm commented on #27
Resolved. Tips are now styled without using a <code> tag.

![screen shot 2016-02-17 at 5 08 18 pm](https://cloud.githubusercontent.com/assets/12424864/13132688/169d4330-d599-11e5-8c0c-c687ab886e08.png)

No ticks (``) needed anymore. Just need the word "tip" and it should be styled now. It's also not case-sensitive, so don't worry about upper case or lower case.

[View Live Site Example](https://as

[2016-02-18 21:02] enriquezm commented on #25
Resolved. Logo added to site brand.

![screen shot 2016-02-18 at 11 02 22 am](https://cloud.githubusercontent.com/assets/12424864/13158041/1929dba4-d62f-11e5-8f24-e286e5645e22.png)

[2016-02-22 20:55] enriquezm opened #34 "Need to change href on search results page."
![screen shot 2016-02-22 at 10 54 24 am](https://cloud.githubusercontent.com/assets/12424864/13232293/af1ada02-d952-11e5-90fa-c4b85fa8f126.png)
Need to change from upper to lower case slug

[2016-02-22 22:23] parkjc commented on #34
fixed

[2016-02-24 20:10] enriquezm commented on #34
Thanks @parkjc! I guess all categories needed the fix, so I did that as well.

[2016-02-24 20:10] #34 closed, assigned to nobody

[2016-03-01 23:19] #33 closed, assigned to enriquezm

[2016-03-01 23:21] billymeinke opened #35 "Add "print this tutorial" button to posts"
Let's encourage folks to print tutorials!

[2016-03-01 23:23] billymeinke opened #36 "Add how-to for "how to write a post""

[2016-03-02 00:02] enriquezm opened #37 "Redirect not working"
assist.coe.hawaii.edu does not currently redirect to https://assist.coe.hawaii.edu/

[2016-03-02 00:16] billymeinke opened #38 "Update header image"
Let's borrow another one from unsplash, maybe without an iPod reference.

[2016-03-02 00:18] windfix commented on #38
+1  ;)

[2016-03-02 00:19] billymeinke opened #39 "Change ISG references to TDP"
Per @windfix's note, let's change the Google form to say TDP or Technology and Distance Programs instead of ISG (which is an internal acronym).

[2016-03-02 00:20] pkarjala commented on #37
FYI, tested this in each of the following scenarios:

Hard-wire connected to COE Network.
Connected to University WiFi.
Connected to University WiFi while on VPN.

The redirect does currently appear to functional at this time.

We can check the server logs to see if there's anything going on there.

[2016-03-02 00:48] ghost commented on #39
Replaced ISG with Technology and Distance Programs.

[2016-03-02 00:49] billymeinke commented on #39
One more ISG reference in there...

![screen shot 2016-03-01 at 2 51 19 pm](https://cloud.githubusercontent.com/assets/3204193/13447068/bf9d72fc-dfbc-11e5-8a97-a7c746d7023f.png)

[2016-03-02 00:50] ghost commented on #39
Replaced ISG in two areas.

[2016-03-02 01:00] billymeinke commented on #39
Perfect, thanks @fjumawan

[2016-03-02 01:00] #39 closed, assigned to nobody

[2016-03-02 01:04] enriquezm commented on #38
@billymeinke Alright sounds good! Did you have any you wanted in particular? I only picked the current one because it followed our color scheme.

[2016-03-02 01:22] enriquezm commented on #35
On it!

[2016-03-02 01:50] billymeinke commented on #38
@enriquezm nope, no preference. I like the idea of showing a desk, something similar to what the site visitors will have in front of them (assuming they are trying to figure out something on their computer).

There are some more good ones here: https://unsplash.com/search?utf8=%E2%9C%93&keyword=desk&button=

Can also take an image that doesn't necessarily fit with the color scheme and adjust the c

[2016-03-02 01:56] parkjc commented on #37
Was able to reproduce this problem:
- clear cache of browser, reopen a private window (so it doesnt save the cache) and go to either assist.coe.hawaii.edu or flow.coe.hawaii.edu. It'll give a can't connect to server error.

**Reason:**
- In the nginx config file i had this line: `listen [::]:80 ipv6only=on`
- According to the nginx docs, post 1.3.4 (we're on version 1.4.6) ipv6only=on sets the soc

[2016-03-02 02:03] enriquezm commented on #38
@billymeinke I'll look into it and pick the best 3 and show you.

[2016-03-02 02:39] pkarjala commented on #37
I think it would be best to continue to support IPv4 for the foreseeable future.

[2016-03-03 02:23] enriquezm opened #40 "Arbitrary URLs do not fail nicely to 404 pages"
Visit a page such as https://assist.coe.hawaii.edu/how-to/2016/01/22/sync-owncloud-files-selectively-to-your-hard-drive.html then remove the info after the trailing slash and hit enter.

https://assist.coe.hawaii.edu/how-to/2016/01/22/ will return an NGINX error page, which is not terribly good looking. Should fail to a nice 404 page instead.

[2016-03-03 02:25] enriquezm opened #41 "Subscribe via RSS feed link in footer is broken"
When clicking on the "via RSS" feed at the bottom of the home page, it leads to a 404 page. The URL is https://assist.coe.hawaii.edu/feed.xml.

[2016-03-03 02:26] enriquezm opened #42 "Top scroll button in lower right on home page styling problem"
When the Top scroll button in the lower right of a page is clicked on, and then the mouse is moved OUT of the button's bounding area while the scroll is occurring, the text gets the default "a href" styling of blue with underline.

![screen shot 2016-03-02 at 3 23 44 pm](https://cloud.githubusercontent.com/assets/12424864/13482824/7a70b16c-e093-11e5-9946-3b6bd1e28e7b.png)

[2016-03-03 02:27] enriquezm opened #43 "Tip Styling different?"
Not sure if this is a bug or not, but observing https://assist.coe.hawaii.edu/how-to/2016/01/12/create-a-random-draw-assessment.html, the text for one tip is a very narrow font in red, where another tip is in a nicer font in Green. See screenshot.

![screen shot 2016-03-02 at 3 32 26 pm](https://cloud.githubusercontent.com/assets/12424864/13482848/a2727f74-e093-11e5-8700-6a7c65f0844e.png)

[2016-03-03 02:28] enriquezm commented on #43
@fjumawan could I leave this up to you to change all tips to a regular "Tip" instead of using the ticks?

[2016-03-03 02:32] enriquezm commented on #41
@billymeinke did we ever decide if we still wanted an RSS link?

[2016-03-03 02:44] enriquezm opened #44 "Sidebar menu arrows"
The sidebar menu arrows currently point down to indicate they can be "opened." Suggest a state when opened where the arrows point up to indicate that they can be "closed".

[2016-03-03 02:44] enriquezm opened #45 "Wording for "older posts" and "newer posts""
Since posts in the Assist site have no indicator of age or when they were written (other than the URL string with YYYY/MM/DD), and since the content doesn't really "age", it just gets updated, the words "older" and "newer" in the main navigation on the footer of the home page seem strange.

Suggest: Next / Previous Page

[2016-03-03 02:45] enriquezm opened #46 "404 page needs more space before footer"
Looks rather squished with text butting against the footer. See attached screenshot.

[2016-03-03 02:46] enriquezm opened #47 "Assist logo :hover is dark"
Difficult to see against the background when hovering over. Something lighter but still a different shade than the font color would work. See screenshot for current details.

![screen shot 2016-03-02 at 3 16 22 pm](https://cloud.githubusercontent.com/assets/12424864/13483168/3b423cd8-e096-11e5-872a-96c60fcdd05f.png)

[2016-03-03 02:46] enriquezm opened #48 "Have footer links open in separate tab or window"
You may wish to consider opening footer links to external resources (CIS, ITS, Laulima Assistance, etc) in a separate tab or window.

[2016-03-03 02:47] enriquezm opened #49 "Avoid use of bitly links"
Short URL bitly links don't look all that great unless you want the tracking functionality that the bitly link provides. Instead, use https://go.hawaii.edu to generate short URLs.

Example at https://assist.coe.hawaii.edu/strategies/2016/02/04/curriculum-development-workflow.html, annotation on first image.

[2016-03-03 19:33] parkjc commented on #40
done. redirected 403 forbidden errors to our custom 404 page.

[2016-03-03 19:36] enriquezm commented on #37
@parkjc can we confirm that this has been resolved?

[2016-03-03 19:42] enriquezm commented on #45
Wording changed:

![screen shot 2016-03-03 at 9 41 10 am](https://cloud.githubusercontent.com/assets/12424864/13506883/36633706-e124-11e5-84c8-e2feb36587f0.png)

[2016-03-03 19:42] #45 closed, assigned to enriquezm

[2016-03-03 19:45] parkjc commented on #37
@mylesenri yes, just tested on a newly reimaged machine that has never logged into assist before (probably overkill) and it redirects ok.

[2016-03-03 19:46] enriquezm commented on #37
@parkjc alright thanks!

[2016-03-03 19:46] #37 closed, assigned to nobody

[2016-03-03 19:47] pkarjala commented on #35
Quibble: Do we want to encourage printing use of resources?  Or bookmarking for future reference?

[2016-03-03 20:29] #47 closed, assigned to enriquezm

[2016-03-03 20:33] ghost commented on #43
@enriquezm no problems, I'll look through all the posts and remove the tick marks.

[2016-03-03 20:33] enriquezm commented on #48
@pkarjala that's odd. All external links in footer should have already been opening up in separate tabs.

[2016-03-03 20:37] enriquezm commented on #43
@fjumawan Thanks!

[2016-03-03 20:40] enriquezm commented on #49
@billymeinke could I have you jump on this one when you get a chance?

[2016-03-03 20:49] pkarjala commented on #48
Checking now, all of the footer links look good; I may have been looking at the incorrect links at the time!

[2016-03-03 20:56] #42 closed, assigned to enriquezm

[2016-03-03 21:00] enriquezm commented on #48
No worries!

[2016-03-03 21:00] #48 closed, assigned to enriquezm

[2016-03-03 21:00] parkjc commented on #44
Er, forgot to say resolves #44 :)

[2016-03-03 21:00] ghost commented on #43
No problems @enriquezm!

[2016-03-03 21:32] #44 closed, assigned to parkjc

[2016-03-03 22:57] enriquezm opened #50 "Add time to read feature for each post."
For reference:

using liquid: http://carlosbecker.com/posts/jekyll-reading-time-without-plugins
using liquid/jquery: https://andytaylor.me/2013/04/07/reading-time/

[2016-03-04 01:39] #46 closed, assigned to nobody

[2016-03-04 23:40] enriquezm opened #51 "DCDC/COE branding"
More branding upfront, not hidden in footer.

[2016-03-04 23:42] enriquezm opened #52 "Look over typos"
Set up a process for having one other person read over typos before being posted.

[2016-03-04 23:43] enriquezm opened #53 "Notify user on signing in to comment"
Include some info about not being able to comment unless signing in.

[2016-03-04 23:45] enriquezm opened #54 "Background-size: cover on site-header"
Consider using background-size: cover on site header.

[2016-03-04 23:47] enriquezm opened #55 "Add post meta"
Post should have a posted and last updated date applied.

[2016-03-05 00:01] enriquezm opened #56 "Too much contrast within "tips""
Link in tips seem to have too much contrast to green text.

![screen shot 2016-03-04 at 12 49 28 pm](https://cloud.githubusercontent.com/assets/12424864/13543684/a00f77b2-e211-11e5-8e37-d928c3d8ae43.png)

[2016-03-05 00:12] enriquezm commented on #27
@billymeinke going to close this seeing that it's similar to issue #56

[2016-03-05 00:12] #27 closed, assigned to enriquezm

[2016-03-05 00:57] enriquezm opened #57 "Concat js files in gulp"
Use gulp-concat to combine .js files into a single dependency

[2016-03-05 00:58] enriquezm commented on #57
Refactoring and cleaning scripts before concatenation.

[2016-03-05 01:38] enriquezm commented on #52
Hey @fjumawan @billymeinke I'm not sure if you guys wanted to create a process for reviewing posts? Jekyll does support [drafts](https://jekyllrb.com/docs/drafts/), which is really simple. I can set that up for you guys?

[2016-03-05 02:33] #40 closed, assigned to nobody

[2016-03-07 19:49] ghost opened #58 "Top button and Next Page button overlaps at certain width (around 900px to mobile phone view)"
![screen shot 2016-03-07 at 9 35 16 am](https://cloud.githubusercontent.com/assets/15221414/13581217/e13d2e5c-e449-11e5-8edc-e4635ed7baf3.png)
![screen shot 2016-03-07 at 9 34 55 am](https://cloud.githubusercontent.com/assets/15221414/13581216/e13cdaba-e449-11e5-93f3-37526bf68938.png)

[2016-03-07 23:15] billymeinke opened #59 "Connect Disqus so we are notified of comments on posts"
Disqus is connected to coeisg@h@waii.edu and we aren't getting notifications of new comments on posts. We need to see them!

[2016-03-07 23:19] billymeinke commented on #59
Correction: Disqus is currently associated with tdpcoe@gm@il.com.

[2016-03-07 23:28] billymeinke opened #60 "Send test tutorial to faculty member via email"
We need to test the way end users will be receiving these tutorials.

[2016-03-07 23:32] billymeinke opened #61 "Add "bookmark this tutorial" button to posts"

[2016-03-08 00:09] enriquezm commented on #61
Add "Bookmark this tutorial" feature on each post.

[2016-03-08 00:10] enriquezm commented on #60
Could we possibly send them an email, and I will physically be there with them to observe/collect feedback from them in person?

[2016-03-08 19:30] #25 closed, assigned to enriquezm

[2016-03-08 20:58] figureone opened #62 "Cleanup: remove console.log() from results.js"
https://github.com/uhm-coe/assist/blob/master/assets/js/results.js#L11

[2016-03-08 21:05] ghost commented on #59
Created a group coe-isg-grp@h@waii.edu, created a filter in tdpcoe@gm@il.com to fwd all disqus notification messages to group. Tested, works!

[2016-03-08 21:12] #56 closed, assigned to nobody

[2016-03-08 21:12] #43 closed, assigned to nobody

[2016-03-08 23:21] #59 closed, assigned to nobody

[2016-03-11 22:01] #57 closed, assigned to nobody

[2016-03-11 22:17] #62 closed, assigned to nobody

[2016-03-11 22:17] enriquezm commented on #62
Was using gulp's [gulp-strip-debug](https://www.npmjs.com/package/gulp-strip-debug), but reverted back to just manually removing console.logs.

### Reasoning:

strip-debug did successfully remove console logs but replaced them with void(0)s which didn't really fix the issue of cleaning out our js code.

[2016-03-11 22:43] enriquezm commented on #53
NOTE: Leaving this here until we test on users and see if they have issues with commenting.

[2016-03-11 22:45] enriquezm commented on #61
@parkjc you think you can look into this? Basically just want a user to be able to click on a button (within a single tutorial) that will add a bookmark to that page onto their bookmark.

[2016-03-11 22:57] enriquezm opened #65 "Disqus "other articles" links direct to 404"
Direct to 404 page when clicking on links that Disqus refers (below disqus commenting)

![screen shot 2016-03-11 at 12 55 25 pm](https://cloud.githubusercontent.com/assets/12424864/13717885/ccf3d17a-e788-11e5-8615-42c65c082750.png)

[2016-03-11 23:38] enriquezm commented on #65
#Update
Narrowed it down and it seems that only the link to "Share ownCloud Online Folders via Links" is one of the few that directs to 404. I believe it's because this article doesn't exist anymore but is still saved on disqus.

![screen shot 2016-03-11 at 1 34 26 pm](https://cloud.githubusercontent.com/assets/12424864/13718480/7624c0ba-e78e-11e5-86cd-0ba2235076ef.png)

[2016-03-12 00:32] enriquezm opened #66 "Search results redirecting to 404 page."

[2016-03-12 00:41] enriquezm commented on #66
Note: @parkjc changed server configuration to reflect changes in b16dcc5f0104d8544a4da4737a1bcf8344a75433

[2016-03-12 00:41] #66 closed, assigned to nobody

[2016-03-12 01:04] enriquezm commented on #61
Need to style link as button. I'll handle the styling @parkjc

[2016-03-12 01:35] #61 closed, assigned to enriquezm

[2016-03-12 01:46] #58 closed, assigned to nobody

[2016-03-12 01:47] enriquezm commented on #58
@fjumawan Changed button color to give it more contrast from 'Next-Page' buttons and also rounded it to give it a more natural button shape for mobile devices.

[2016-03-14 21:18] ghost opened #67 "Bookmark site window comes up when I bypass cmd-d and press ok in Firefox only"
![screen shot 2016-03-14 at 11 14 06 am](https://cloud.githubusercontent.com/assets/15221414/13760268/62541a6e-e9d6-11e5-90b9-ca6c8ffefc12.png)

[2016-03-14 22:29] #55 closed, assigned to enriquezm

[2016-03-15 02:13] #67 closed, assigned to parkjc

[2016-03-15 23:11] enriquezm commented on #54
Will need to finish #38 first.

[2016-03-15 23:24] enriquezm commented on #38
Hey @billymeinke found some header images that might work for the Assist site on unsplash:

![download1](https://cloud.githubusercontent.com/assets/12424864/13797418/86f7bcdc-eab1-11e5-8ca8-e4d60259af04.jpg)
![download2](https://cloud.githubusercontent.com/assets/12424864/13797419/8711eabc-eab1-11e5-9bbc-b280b634026b.jpg)
![download3](https://cloud.githubusercontent.com/assets/12424864/13797421/87

[2016-03-15 23:28] enriquezm commented on #52
@fjumawan proof reading will be done through google docs and not through the _drafts folder, correct?

[2016-03-15 23:35] #49 closed, assigned to nobody

[2016-03-15 23:44] #41 closed, assigned to nobody

[2016-03-15 23:49] ghost commented on #52
@enriquezm To get the key people buy into and get involved in contributing posts for Assist, we will be using Google Docs to post drafts while @billymeinke @cchun8 and I will send the posts to Jekyll. Until we get everyone to contribute straight to Jekyll, we probably won't be using the _drafts folder at this time. You can verify with @billymeinke

[2016-03-16 00:36] enriquezm commented on #52
@fjumawan alright sounds good, I just wanted to make sure we have a organized process for you guys. And so I can close this issue. I'll verify with @billymeinke first though.

[2016-03-16 00:51] #35 closed, assigned to enriquezm

[2016-03-16 20:53] enriquezm opened #68 "Assist Documentation"
Hey @billymeinke @fjumawan would that be alright if I moved Assist's documentation over to GitHub wiki pages instead? That way everything you need to work with Assist is located in one place.

[2016-03-16 20:54] enriquezm commented on #68
It'll be located in the same repo, just in the [Wiki](https://github.com/uhm-coe/assist/wiki) tab.

[2016-03-17 23:27] ghost opened #69 "Print Issues on Firefox"
Previewed printout for both Chrome and Firefox Browsers. Chrome prints out fine, however Firefox has breaks between headers, step and tip (see screen shots)
![screen shot 2016-03-17 at 1 20 23 pm](https://cloud.githubusercontent.com/assets/15221414/13864245/013247fe-ec44-11e5-968f-0b57e878e0bd.png)
![screen shot 2016-03-17 at 1 20 36 pm](https://cloud.githubusercontent.com/assets/15221414/13864247

[2016-03-17 23:29] ghost opened #70 "Print This Article Does Not Work on Safari 9.0.3"
Pressed the Print This Article button and nothing happens.

[2016-03-17 23:58] enriquezm commented on #69
@fjumawan thanks for mentioning this! I'll look into it.

[2016-03-18 00:02] enriquezm commented on #70
Hey @fjumawan not sure if this is a cache or version issue. I've tried it on Safari 8.0.8 and it worked fine. Could you try holding down **Shift** and **Click** the Refresh button on your browser?

[2016-03-18 00:05] ghost commented on #70
Cool, now it works! Thanks @enriquezm!

[2016-03-18 00:06] #70 closed, assigned to nobody

[2016-03-18 21:35] ghost opened #71 "Tags Not Showing in Search Results"
Tags not showing, only categories. Can the tags be shown as well?
![screen shot 2016-03-18 at 11 33 51 am](https://cloud.githubusercontent.com/assets/15221414/13892726/6d3d38c8-ecfd-11e5-8979-f86d2251ab65.png)
![screen shot 2016-03-18 at 11 33 36 am](https://cloud.githubusercontent.com/assets/15221414/13892727/6d5d593c-ecfd-11e5-8fda-7ab1613e1199.png)

[2016-03-18 23:45] ghost opened #72 "Printed Tutorials From Safari Not Full Width"
![screen shot 2016-03-18 at 1 44 09 pm](https://cloud.githubusercontent.com/assets/15221414/13894750/a09cdb94-ed0f-11e5-9ac1-d4620f0fa5ed.png)

[2016-03-19 01:42] enriquezm commented on #71
@fjumawan I forgot all about this! Working on it, thanks for bringing it up.

[2016-03-19 01:43] enriquezm commented on #69
Related to issue #72

[2016-03-24 23:34] billymeinke commented on #71
Hey @parkjc did you get a chance to look at this? Thought you mentioned it was bringing code back from the old search function. Thanks!

[2016-03-24 23:40] billymeinke commented on #60
@enriquezm Sure thing. Are you comfortable scheduling these for next week? If so I can provide a short list of faculty that can help us with this.

[2016-03-24 23:49] billymeinke commented on #38
@enriquezm I prefer number 3 or number 1. Thanks!

[2016-03-24 23:55] billymeinke commented on #52
Yep, thanks for checking @enriquezm. Going to keep drafts in Google docs for now.

[2016-03-24 23:56] billymeinke commented on #65
@fjumawan Can you log into Disqus and remove that comment? If the problem is limited to just that post,  that should take care of it.

[2016-03-25 00:07] billymeinke commented on #68
@enriquezm I see some of the documentation was migrated from Gitbooks. Did all of it make it over?

[2016-03-28 19:44] enriquezm commented on #71
@billymeinke yeah i was in the process of working on this last week and almost finished. I'll get @parkjc on board and add tags by today.

[2016-03-28 19:48] enriquezm commented on #68
@billymeinke not all, as I was going through some of the gitbook documentation I noticed a lot that could be refactored (also a lot that was kind of overkill on my part).

So far I have documentation for editors who want to contribute. Should I also add documentation for developers/designers? (ex how to create new tags, how to create new tags, etc on the backend).

[2016-03-28 19:48] #52 closed, assigned to nobody

[2016-03-28 19:49] enriquezm commented on #38
@billymeinke alrigth I'll go with number 3, thanks!

[2016-03-28 19:53] ghost commented on #38
@billymeinke @enriquezm +1 for no. 3

[2016-03-28 20:10] billymeinke opened #73 "Add "Improve this page on Github" banner or button on tutorials"
Would be great to have a banner or button at the bottom of each tutorial that people can click to fork + edit the page on Github. I've seen it implemented elsewhere, let me know if I can find a code snippet for you @parkjc @enriquezm

[2016-03-28 20:26] enriquezm commented on #73
@billymeinke I've also seen these buttons, but I think it's to fork the whole project yeah? Is that fine, or did you want something that only forks a specific page?

[2016-03-29 00:02] #71 closed, assigned to enriquezm

[2016-03-29 01:48] #38 closed, assigned to enriquezm

[2016-04-04 22:40] ghost commented on #60
@billymeinke Any ideas on the progress with test tutorial?

[2016-04-04 22:42] ghost commented on #68
@billymeinke Need to look at Gitbook and determine what will be useful to bring over to wiki.

[2016-04-04 22:43] ghost commented on #72
@parkjc can we meet on this when you have the chance?

[2016-04-04 22:43] ghost commented on #69
@parkjc can we meet on this when you have the chance?

[2016-04-04 22:59] ghost commented on #65
@billymeinke cleared comments in Disqus, but comments still appear.

[2016-04-05 17:45] parkjc commented on #69
@fjumawan sure thing. i can meet today before 1PM or after 3PM

[2016-04-05 20:19] ghost commented on #65
@billymeinke Looks like all the Disqus comments cleared in Assist.

[2016-04-05 20:19] #65 closed, assigned to nobody

[2016-04-05 20:25] ghost commented on #54
@parkjc Has this been done? If not, what is the advantage of this enhancement?

[2016-04-05 21:10] billymeinke commented on #65
Awesome, thanks @fjumawan

On Tue, Apr 5, 2016 at 10:25 AM, Frank Jumawan notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-04-06 01:28] #72 closed, assigned to parkjc

[2016-04-06 02:09] ghost commented on #50
Added read time feature so that author can manually add approximate read time in front matter.

[2016-04-06 02:09] #50 closed, assigned to enriquezm

[2016-04-06 19:15] ghost commented on #69
Unable to fix Firefox since there is no universal CSS to have all 3 browsers to print perfectly. Added a notification to print through Chrome or Safari.

[2016-04-07 00:00] ghost opened #76 "Readtime not showing correctly in Chrome Print View"
![screen shot 2016-04-06 at 1 58 37 pm](https://cloud.githubusercontent.com/assets/15221414/14336451/d76f47ac-fbff-11e5-9e2c-c4191c86aec4.png)

[2016-04-07 00:01] ghost commented on #76
@parkjc @billymeinke Any suggestions? Should I move readtime elsewhere?

[2016-04-07 00:24] #76 closed, assigned to nobody

[2016-04-07 20:47] ghost commented on #51
@billymeinke should we consult with Michelle and Mike about this?

[2016-04-07 23:54] billymeinke commented on #69
Do we know anything more about this @fjumawan @parkjc? Does Firefox ignore the print.css that was created, or do special rules needed to be applied to help it work?

[2016-04-08 00:18] billymeinke commented on #51
I believe @enriquezm did consult with the design team on this. Closing it for now.

[2016-04-08 00:18] #51 closed, assigned to enriquezm

[2016-04-08 00:20] billymeinke commented on #54
@fjumawan #38 is now closed, so we can look at this. It's basically just specifying that the header image to stretch and/or crop the header image to fit all screen sizes as needed. Can be adjusted in the css. Let me know if you need a hand.

[2016-04-08 00:34] ghost commented on #54
@billymeinke Will look into this.

[2016-04-08 01:28] ghost commented on #54
@billymeinke looks like this has been done.
![screen shot 2016-04-07 at 3 27 10 pm](https://cloud.githubusercontent.com/assets/15221414/14371629/4dae278c-fcd5-11e5-9e88-d47ea4074345.png)

[2016-04-08 01:31] billymeinke commented on #54
Great, thanks @fjumawan!

[2016-04-08 01:31] #54 closed, assigned to enriquezm

[2016-04-08 01:35] ghost commented on #54
@billymeinke No problems! Wast trying to figure out how to do it and I bumped into it. :)

[2016-04-11 21:53] parkjc commented on #69
@billymeinke i'll have to do a bit more research on how firefox print preview works, but it doesnt seem like its recognizing the custom css file. Either that or page breaks in firefox are interpreted differently

[2016-04-13 00:21] ghost opened #77 "Search doesn't seem to work, getting zero results"
Tried to search with terms such as owncloud, Laulima, Blackboard. Getting zero results. @parkjc any ideas?

[2016-04-13 20:37] #77 closed, assigned to nobody

[2016-04-14 01:10] billymeinke commented on #69
Checked in on this, @parkjc is working on it.

May have to do with "media=print/screen"

[2016-04-14 01:13] billymeinke commented on #68
Gitbook documentation is here: https://www.gitbook.com/book/enriquezm/assist-site-documentation/details

Need to decide which content to migrate, then close the old Gitbook.

[2016-04-14 01:20] billymeinke opened #78 "Write up "Getting Started" section of README file"
So others know where to start to run locally, etc etc etc.

[2016-04-14 01:23] billymeinke commented on #53
Closing for now, this should be obvious. Will be picked up in user testing if it's not.

[2016-04-14 01:23] #53 closed, assigned to nobody

[2016-04-14 01:24] billymeinke commented on #36
@fjumawan is on it!

[2016-04-14 01:28] billymeinke opened #79 "Create a troubleshooting post category"
Need a new post category for this, and then can create a unique post template for easy reading of troubleshooting information.

[2016-04-14 01:33] billymeinke opened #80 "Add social sharing buttons to posts"
Make it easy for users to share Assist posts on social media

[2016-04-14 01:39] billymeinke opened #81 "Look into pulling + displaying GA data on Assist"
Show users (in a sidebar widget or somewhere else on the site) which posts are most popular, how many folks are using posts, etc. Get data from Google Analytics to show what's happening here.

[2016-04-14 01:42] ghost opened #82 "Add a light bulb icon in Tip section"
Will have @parkjc to help out.

[2016-04-14 02:04] billymeinke commented on #82
@fjumawan There's a lightbulb glyph in the Glyphicons set. I would search for "glyphicons-lightbulb" and then try to play with formatting so that it appears whenever the .tip-styling CSS class is called.

[2016-04-15 01:02] ghost commented on #36
Write a strategy post explaining the process of posting (from Google Doc draft post to the Assist repository)

[2016-04-15 01:49] billymeinke commented on #36
Awesome, thanks for this @fjumawan!

On Thu, Apr 14, 2016 at 3:02 PM, Frank Jumawan notifications@github.com
wrote:

##

Billy Meinke, MEd
@billymeinke https://twitter.com/billymeinke / Web
http://billymeinke.github.io

[2016-04-15 19:31] #79 closed, assigned to parkjc

[2016-04-15 20:50] parkjc commented on #80
@fjumawan @billymeinke do you guys mind testing the icons to see if they'll share? i dont have an account for a lot of the social media sites lol.

[2016-04-15 22:59] ghost opened #85 "Twitter post mentioning a blank Twitter handle."
When pressing Twitter share button, the tweet refers to a blank Twitter handle "@".
![screen shot 2016-04-15 at 12 53 14 pm](https://cloud.githubusercontent.com/assets/15221414/14576976/c154074e-0309-11e6-8b1b-c07caf256fc5.png)

[2016-04-15 23:12] ghost opened #86 "Social media buttons not displaying properly in print (from Chrome)"
![screen shot 2016-04-15 at 1 11 01 pm](https://cloud.githubusercontent.com/assets/15221414/14577129/9fec3886-030b-11e6-901c-f23f80647ef3.png)

[2016-04-18 19:22] parkjc commented on #85
are twitter handles referenced by the account your logged into? or is it just manually typed it to refer to someone, for example hashtags (#fake)

[2016-04-18 19:40] ghost commented on #85
I don't think it's referencing the account I logged into, it's more from COE or TDP if there is a Twitter account.

[2016-04-18 19:48] parkjc commented on #85
shall we add a basic COE / TDP account?

[2016-04-18 19:52] ghost commented on #85
Let's wait on @billymeinke when he gets back. I think when we create a COE/TDP Twitter account, or if there is already one, we need to make sure we monitor the account for all Twitter mentions on questions.

[2016-04-18 20:19] #86 closed, assigned to parkjc

[2016-04-19 21:04] #82 closed, assigned to nobody

[2016-04-20 21:20] ghost opened #87 "Add unordered list for markdown"
I checked Myles' documentation on the markdown and he only emphasized ordered list. Can the unordered list be activated via markdown?

[2016-04-20 23:21] parkjc commented on #87
@fjumawan just checked, its because custom unordered list wasn't written, just ordered lists. Do you want me to add it? if so, is there a specific design in how you want them to be portrayed? (default is the black dot)

[2016-04-20 23:24] ghost commented on #87
@parkjc Let's go with the black dot.

[2016-04-20 23:38] #87 closed, assigned to nobody

[2016-04-21 21:14] ghost opened #88 "Remove extra space and line after each bullet point items"
![screen shot 2016-04-21 at 11 12 25 am](https://cloud.githubusercontent.com/assets/15221414/14724476/1f2fad80-07b2-11e6-8acd-06482667b54b.png)

[2016-04-22 01:17] billymeinke commented on #88
@fjumawan have you peeked at which CSS class is being used for these tall bulleted lists? The default style (unordered list) may have been changed instead of creating a new class for this taller list type. I don't see it in use much throughout the site.

[2016-04-22 01:25] billymeinke commented on #85
@fjumawan @parkjc I'm seeing connecting Assist to the COE social media accounts as an option. I don't think we need to spin up a new social media account for Assist, but it'd be great to be able to automate sharing out tweets when new tutorials are posted, and when people want to interact with a social media account regarding Assist

[2016-04-22 01:27] ghost commented on #88
@billymeinke Will look into this

[2016-04-22 20:35] #88 closed, assigned to parkjc

[2016-04-23 01:33] billymeinke commented on #85
@kccoburn This is the issue I'd like your thoughts on. We're making it easy for people to share the tutorials over social media, but we don't have unique social media accounts on each network for assist. Is there a way we can mention the COE Twitter account so that folks can be driven back to the COE website?

[2016-04-23 19:57] billymeinke commented on #73
This is essentially what I'm looking for: http://ben.balter.com/2015/09/13/github-pages-edit-button/ /cc @fjumawan @parkjc

[2016-04-23 23:45] kccoburn commented on #85
Can you give me an example of how a post might appear on Twitter (the
content)? I'm not sure I'm following you.

On Fri, Apr 22, 2016 at 3:33 PM, Billy Meinke notifications@github.com
wrote:

##

KC Coburn
Academic Support
Continuing Education Specialist
UH Manoa College of Education

http://www.facebook.com/uhcoe  https://twitter.com/#!/uh_coe
http://www.pinterest.com/uhcoe/
http://www.youtube.co

[2016-04-25 20:11] #69 closed, assigned to parkjc

[2016-04-25 20:12] billymeinke commented on #78
This is looking good, @parkjc. We should add a section at the bottom that shows the project team and how to get in touch.

[2016-04-25 21:18] parkjc commented on #73
@billymeinke @fjumawan added the button near the bottom of the page. should i make any changes?

[2016-04-25 21:34] billymeinke commented on #73
This looks great, thanks @parkjc. Good for now.

[2016-04-25 21:34] #73 closed, assigned to nobody

[2016-04-25 23:46] billymeinke opened #89 "Create small marketing flyer for Assist"
Something that we can place in the brochure stacks in 124 and the CCC.

[2016-04-26 01:53] parkjc commented on #81
@billymeinke is there a url to access the google analytics page for assist?

[2016-04-26 22:32] billymeinke commented on #85
@kccoburn When a user clicks on the Twitter icon to share a tutorial, they are given a pre-formatted tweet like this:

![screen shot 2016-04-26 at 12 29 27 pm](https://cloud.githubusercontent.com/assets/3204193/14836286/aa653dce-0baa-11e6-8d09-a909c201adf3.png)

We have some control over what the tweet is formatted like, and I think it'd be smart to mention the @UH_COE account to direct people bac

[2016-04-27 01:33] billymeinke commented on #89
Currently passing a draft of this around, will send to DCDC design team when copy is ready.

[2016-04-29 21:12] billymeinke commented on #85
@kccoburn Any last thoughts before we close? Thanks!

[2016-04-29 21:13] billymeinke commented on #81
@parkjc Has access, now. Leaving this open until we look at layout/design ideas.

[2016-04-29 21:13] billymeinke commented on #80
Looks good, Thanks @parkjc!

[2016-04-29 21:13] #80 closed, assigned to parkjc

[2016-04-29 21:17] parkjc commented on #78
@parkjc change full names to relative links. ask other project members for permission

[2016-04-29 21:20] billymeinke commented on #60
Let's see if @enriquezm has any ideas about web-based tools we can use for UI/UX testing. We can get a license to one if it's better than the rest.

[2016-04-29 21:31] billymeinke commented on #68
Hit a bump in the road with using images in wiki pages. Some are stored on raw.githubcontent.com, but we'll be moving all of our images to a folder in this repo.

https://help.github.com/articles/adding-images-to-wikis/

Thanks @fjumawan

[2016-04-29 21:36] ghost commented on #36
Do a high level process on general posts and not focus on How-to, Strategies and Troubleshooting posts.

[2016-04-30 00:02] kccoburn commented on #85
All I can think of is creating a separate account that is for internal (but
ok for public to see?) information. Texas A&M publishes a blog post for
their internal fac/staff; it can be viewed by the public, but is of little
interest. It's for this exact issue; updating facstaff of IT and support
issues, tips. Posts are short and sweet, like these tweets.

I'm happy to create a Twitter feed just for

[2016-05-02 22:18] billymeinke commented on #85
Thanks @kccoburn! I'd rather not create more accounts that would need to be managed at this time :)

@parkjc Go ahead and edit the auto-formatted tweet to not mention a Twitter account. Can the tweet say something to the effect of "A tutorial on Assist: {name of tutorial}{link}"?

We can revisit this when we think it'll be useful for COE folks to have a distinct online presence for Assist.

[2016-05-05 23:29] kccoburn commented on #85
Hey! This may not apply here, but you know that the intranet posts updates
on the homepage every time they are made. Could some form of what you are
contemplating go in the space to the left, just above my Social Web
content?

[image: Inline image 1]

On Mon, May 2, 2016 at 12:18 PM, Billy Meinke notifications@github.com
wrote:

##

KC Coburn
Academic Support
Continuing Education Specialist
UH Man

[2016-05-10 19:15] ghost opened #94 "Reduce Spacing Between and Slightly Indent Unordered List Item"
![screen shot 2016-05-10 at 9 12 15 am](https://cloud.githubusercontent.com/assets/15221414/15159304/c749976a-168f-11e6-8871-15b5d8d54125.png)

[2016-05-20 20:59] billymeinke commented on #85
Hey @kccoburn can you include another screen shot of what you mean? This may be a good fit, but your image isn't working :(

[2016-05-20 21:00] billymeinke commented on #78
Looks great, thanks @parkjc

[2016-05-20 21:00] #78 closed, assigned to parkjc

[2016-05-20 21:02] billymeinke commented on #68
Revisited this, @fjumawan will create a folder in the repo for storing the wiki images.

[2016-05-20 21:50] parkjc commented on #94
Would we be able to do an alternative? Use main unordered list as a header and the nested list as the unordered list

[2016-05-23 18:40] kccoburn commented on #85
Try looking at the link here? it's in the center column, headed: "RECENT
INTRANET EDITS."  https://coe.hawaii.edu/intranet

On Fri, May 20, 2016 at 10:59 AM, Billy Meinke notifications@github.com
wrote:

##

KC Coburn
Academic Support
Continuing Education Specialist
UH Manoa College of Education

http://www.facebook.com/uhcoe  https://twitter.com/#!/uh_coe
http://www.pinterest.com/uhcoe/
http://ww

[2016-05-23 21:43] billymeinke commented on #85
@kccoburn Hmm...I don't know if this is a good fit. Let's hold off on connecting Assist to the COE social media accounts for the time being. Thanks!

[2016-05-23 21:43] #85 closed, assigned to parkjc

[2016-05-23 22:24] ghost commented on #94
@parkjc @billymeinke This is what I get when I use Header 5 ##### and and Header 6 ###### respectively

![screen shot 2016-05-23 at 12 23 37 pm](https://cloud.githubusercontent.com/assets/15221414/15486423/4c6d3130-20e1-11e6-8f61-a9b5bfed0e4f.png)

[2016-05-23 22:32] kccoburn commented on #85
Oh, no, I was meaning that as an alternative to COE social media accounts.
I don't think there's a good fit there. But what Paul did, by publishing a
sort of RSS on the Intranet home page, was provide updates to people on
what's new, what's changed within the Intranet. I was suggesting that you
have some similar type of RSS available to facstaff for Assist updates? We
could get rid of my SM inform

[2016-05-23 22:38] ghost commented on #94
@parkjc @billymeinke Sorry, misinterpreted that... used Header 4 and nested an unordered list under one of the Header 4 points
![screen shot 2016-05-23 at 12 37 39 pm](https://cloud.githubusercontent.com/assets/15221414/15486696/4528f6aa-20e3-11e6-9d78-f40db01c5331.png)

[2016-05-24 01:36] billymeinke commented on #94
This looks better, thanks @fjumawan. We'll just need to be careful about line spacing between the paragraph above and the beginning of the lists.

[2016-05-24 01:36] #94 closed, assigned to parkjc

[2016-05-26 20:55] ghost commented on #68
@billymeinke I figured out how Myles added the images to the wiki. The wiki is actually a separate repository and I was able to clone the wiki directory on my local drive. Should I continue adding the images at the Assist repository or continue with what Myles did and add the image to the wiki repository?

[2016-05-26 22:05] ghost commented on #68
@billymeinke Disregard previous comment. Can't sync my changes to the wiki repository. Will continue to do what we originally planned. @parkjc

[2016-06-08 00:18] billymeinke commented on #68
@enriquezm Hey! I think there may be some assets/text for the Assist documentation that live in a separate repository. Can you check in with @fjumawan to clear things up?

[2016-06-08 00:21] billymeinke commented on #89
Really rough draft of the flyer can be found here: https://docs.google.com/drawings/d/1xEX40O41Qw0oLOh7pka3HlpJENpV-bY-otA-OrRSBcM/edit?usp=sharing

Note: Access is restricted, request it if you need it

[2016-06-08 00:25] billymeinke commented on #81
After some discussion, the main metric that would be important to have fed back up to the site is one like "most popular post" -- which GA can do for us. Leaving this as a note for now @parkjc

[2016-06-08 00:33] billymeinke opened #115 "Create in-page section menu based on heading levels"
For the strategy posts, there are more sections than can be easily scrolled through. It'd be better to have an in-page menu to jump down the page to sections based on their h2, h3, h4 etc heading levels.

@fjumawan will add some examples.

What do you think, @enriquezm?

[2016-06-08 00:35] ghost commented on #115
@enriquezm Here are some examples that incorporate such features such as contents and sections:
https://www.jisc.ac.uk/guides/make-your-collection-available-for-learning-and-teaching
![screen shot 2016-06-07 at 2 55 05 pm](https://cloud.githubusercontent.com/assets/15221414/15879445/09127518-2cc0-11e6-93af-ce2a7c71d8c1.png)

---

https://programs.coe.hawaii.edu/chl/fshn491-assess/lessons/why-measu

[2016-06-08 00:36] billymeinke commented on #115
Note: This would only need to appear on the Strategy page template for now, as there may be unnecessary headings assigned inside a how-to tutorial.

[2016-06-08 01:00] ghost commented on #36
Include diagram on workflow.

[2016-06-08 20:31] parkjc commented on #115
@billymeinke @fjumawan created a table of contents for strategies. Still need to work on dynamically moving it around based on page position.

[2016-06-08 22:03] billymeinke commented on #115
Awesome, thanks for this @parkjc.

[2016-06-13 21:02] billymeinke commented on #115
@enriquezm Would you be able to take look at this and help the sidebar items (or just the submenu) float down as users scroll? Thanks!

[2016-06-13 22:41] enriquezm commented on #115
@billymeinke for sure! I'll look into it.

[2016-06-21 18:25] enriquezm commented on #68
@billymeinke yes for sure!

[2016-07-13 18:46] figureone opened #118 "Add robots.txt to notify search engines"
Depending on your preference, you can either disallow all search engine indexing, or allow it and point search engines to a generated sitemap they can use. A robots.txt file that prevents search engine indexing looks like:

[code]

Here's a simple guide for Jekyll if you decide to allow indexing:

http://pixelcog.com/blog/2013/jekyll-from-scratch-core-architecture/#sitemaps-and-robotstxt

[2016-07-28 01:13] billymeinke opened #119 "Add new Category type: Workshops"
I tried to create the proper folder and index.html, but not sure if this worked.

See https://github.com/uhm-coe/assist/commit/8a658cf484e4cb5f74f03419204ef4146d94fe50

@parkjc Can you review? Thanks!

[2016-08-15 20:07] billymeinke opened #120 "Run accessibility test on Assist"
Create accessibility plan to tackle this.

[2016-08-15 21:06] billymeinke commented on #120
Most of the issues are with images that do not include alt text, but let's chat about this @fjumawan. Here's a start: http://wave.webaim.org/report#/assist.coe.hawaii.edu

[2016-08-15 22:30] billymeinke commented on #120
After a quick audit, some things to fix:
- alt text for all images
- apply form control label to search bar (*may not apply since it is a 'submit' button)
- form control labels for Hypothes.is sidebar (*unsure if this is possible or practical)